Library/EditorInstance.json
Library/ShaderCache/0/00ab1179780e0374f3c2c66ec8b38423.bin
Library/ShaderCache/0/015668ad6100a47398d052d4bd7a35c3.bin
Library/ShaderCache/0/0b95157eab481883d7b3accca0c3c909.bin
Library/ShaderCache/3/365839139d54ae803a65073fa781b9d4.bin
Library/ShaderCache/4/42dd6dad95eb6862f71359d1cb71b0ee.bin
Library/ShaderCache/7/738c63a850df358f0852c91325611fd0.bin
Library/ShaderCache/c/cb8997d8b78b274b76b210c1a97c6739.bin
Library/ShaderCache/d/d153ea5e0a6a09cc2e303016ede8b4b4.bin
Library/ShaderCache/d/d4e5162f8de85a6581aaf2215b3672f4.bin
Library/ShaderCache/e/eb251e4ef47c90855f53b7345f76bd1d.bin
Library/ShaderCache/e/ec7e77b944dd71610c4463f61269c0d4.bin
Temp/UnityLockfile
Temp/workerlic
Library/ArtifactDB
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Library/CurrentLayout-default.dwlt
Library/SceneVisibilityState.asset
Library/ShaderCache/EditorEncounteredVariants
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
ProjectSettings/HDRPProjectSettings.asset
